<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Blog</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <h1>Ayham's Blog</h1>
    <a href="/posts/new" class="botn">Create New Post</a>
  </header>

  <main>
    <% if (posts.length === 0) { %>
      <p>Start creating posts ...</p>
    <% } else { %>
      <% posts.forEach(post => { %>
        <div class="post">
          <h2><%= post.title %></h2>
          <p ><%= post.content %></p>
          <div class="actions">
            <a href="/posts/<%= post.id %>/edit" class="botn small">Edit</a>
            <form action="/posts/<%= post.id %>/delete" method="POST" style="display:inline;">
              <button type="submit" id="del" class="botn small delete">Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    <% } %>
  </main>

</body>
</html>

