body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#svg1 {
  text-align: left;
  line-height: 1;
  font-size: 0.88rem;
  font-weight: 400;
  x: 0px;
  y: 0px;
  width: 16px;
  height: 17px;
  box-sizing: inherit;
  color: #fff;
  fill: #fff;
  transition: all 0.2s ease;
  margin-left: 10px;
}
#search::placeholder {
  padding-top: 0px !important;
  padding-bottom: 0 !important;
  color: rgba(146, 153, 159, 0.6) !important;
}
.navbar-toggler-icon {
    filter: brightness(0) invert(1) opacity(0.8); /* Lightens the icon */
  }
.a {
  min-height: 90vh;
}
#a {
  min-height: 90vh;
}
.b {
  min-height: 100%;
}
.c {
  min-height: 125vh;
}
.d {
  height: 77vh;
}
#main {
  margin-top: 10%;
}
#main2 {
  margin-top: 12%;
}
#main3 {
  margin-top: 4%;
}
#bg-img {
  height: 90vh;
  
}
.bg2-img {
  height: 125vh;
}
#bg3-img {
  height: 125vh;
}
#bg4-img {
  height: 100%;
}
#main-footer {
  margin-top: 90px;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.dark-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.dark-overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 125vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.89),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.dark-overlay4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
  z-index: 1;
}
.card-img {
  min-height: 100%;
  z-index: 0;
}

.card-img-overlay {
  z-index: 2;
}

.bb {
  border-color: rgba(108, 117, 125, 0.6) !important;
}
.bd {
  font-size: small;
  letter-spacing: 3px;
}
.svg1 {
  height: 23px;
  width: 23px;
  transform: rotate(315deg);
  color: #c23939;
}
.svg2 {
  height: 23px;
  width: 23px;
  transform: rotate(360deg);
  color: #c23939;
}
.svg3 {
  height: 17px;
  width: 17px;
  transform: rotate(360deg);
  color: #c23939;
}

.sec-main {
  min-height: 100vh;

  background-color: white;
}
.w {
  max-width: 100%;
  height: 100%;
}
.wv {
  width: 100%;
  height: 100%;
}

.bg-image1 {
  background-image: url("nasa-spherex-os-56-7431-full.webp");

  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
}
.bg-image2 {
  background-image: url("nasa-img-2.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
}
.bg-image3 {
  background-image: url("supernova-sparkles-1.webp");
  background-size: cover;
  background-position: center;
  height: 12rem;
  width: 100%;
}
.bg-image4 {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  background-image: url("demo-2-nasa-logo-20200401-img-4007.webp");

  background-size: cover;
  background-position: center;
  height: 12rem;
  width: 100%;
}

.svg-card {
  text-align: left;
  line-height: 1;
  font-size: 0.88rem;
  font-weight: 400;
  x: 0px;
  y: 0px;
  width: 16px;
  height: 17px;
  box-sizing: inherit;
  color: #fff;
  fill: #fff;
  transition: all 0.2s ease;
  margin-left: 10px;
}
.small-div {
  height: 8-rem;
}
.small-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.svg-card1 {
  text-align: left;
  line-height: 1;
  font-size: 0.88rem;
  font-weight: 400;
  x: 0px;
  y: 0px;
  width: 16px;
  height: 17px;
  box-sizing: inherit;
  color: #7e7d7d7a;
  fill: #575656;
  transition: all 0.2s ease;
  margin-left: 10px;
}
.pad-left {
  padding-left: 15px;
}

.third-main {
  min-height: 130vh;
  width: 100%;
}
.margin-left {
  margin-left: 10%;
}
.margin-left2 {
  margin-left: 7%;
}
.margin-left3 {
  margin-left: 4%;
}
.margin-left4 {
  margin-left: 3%;
}
.margin-right {
  margin-right: 5%;
}
.margin-top {
  margin-top: 7%;
}
.margin-top2 {
  margin-top: 2%;
}
.forth-main {
  min-height: 100vh;
  width: 100%;
}

.card-img1 {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );

  background-size: cover;
  background-position: center;
  height: 30rem;
  width: 100%;
}

.fifth-main {
  min-height: 125vh;
  width: 100%;
}

.sixth-main {
  min-height: 80vh;
  width: 100%;
}

.seventh-main {
  min-height: 70vh;
  width: 100%;
}

.hw {
  height: 100%;
  width: 100%;
}
.hight {
  height: 13rem;
}
.img-h {
  height: 6.4rem;
}

.eighth-main {
  height: 77vh;
  width: 100%;
}

.ninth-main {
  min-height: 170vh;
  width: 100%;
}
.wf {
  width: 30rem;
}
.we {
  width: 230px;
}
.color {
  color: #575656;
}
.hov:hover {
  text-decoration: underline dashed;
}
